:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #f8e6e4;
    --red: #e7332b;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #e7332b;
    --black: #1b1a20;
    --light: #f8f9fa;
    --dark: #343a40;
    --background: rgb(255, 253, 245);
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background);


}

.main-body {
    max-width: 90%;
    margin: 0 auto;
    font-family: Averta, sans-serif;
    overflow: hidden;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: .5rem;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    background-color: var(--background);
    box-shadow: 0 3px 3px rgba(0, 0, 0, .1);
    z-index: 1;
    overflow: hidden;

}

.logo {
    width: 16rem;
}

.logo img {
    max-width: 100%;
}


nav {
    display: flex;
    align-items: center;


}

nav ul {
    display: flex;
    padding-right: 2rem;

}

nav ul li {
    list-style: none;
    padding-right: 1rem;
    font-size: larger;
    color: var(--gray-dark);
}

nav ul li a {
    text-decoration: none;
    color: var(--gray-dark);
}

.enroll {
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: .5rem; */
    flex-wrap: nowrap;
    flex-shrink: 0;
    width: auto;
}

.enroll img {
    max-width: 5rem;
    background-color: var(--danger);
    border: 1rem solid var(--red);
    border-radius: 50%;

}

.enroll p {
    padding: 1rem;
    background-color: var(--red);
    color: var(--white);
    position: relative;
    right: 15px;
    font-weight: 400;
    font-size: 1.2rem;
    border-radius: 0px 38px 38px 0;
}

main {
    display: flex;
    height: 95vh;
    justify-content: space-around;
    align-items: center;
    background: url(./Zuri-images/maleface.svg) no-repeat 36% 84%,
        url(./Zuri-images/section1wire.svg) no-repeat 57% 100%;
    background-size: 3.5rem, 6rem;
    margin-bottom: 3em;
}

.main-text {
    text-align: center;
}

.lady-image {
    width: 60%;
}

.lady-image img {
    align-self: flex-end;
    align-self: flex-end;
    max-width: 100%;

}

.male-image {
    width: 60%;
}

.male-image img {
    align-self: flex-end;
    max-width: 100%;
}

.main-text h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    line-height: 3rem;
    font-family: Graphik !important;
    align-self: flex-start;
    padding: 0rem 0 3rem;
    color: var(--dark);
    background: url(./Zuri-images/line.svg) no-repeat;
    background-position: 80% 85%;
    background-size: 16rem;
}


.main-text p {

    font-size: 1.3rem;
    text-align: center;
    color: var(--gray-dark);
    padding-bottom: 2rem;
}

.main-text p:first-of-type {
    color: var(--danger);
    text-align: center;
}

.value-enroll {
    padding: 1rem 2rem;
    border-radius: 2rem;
    border: none;
    background-color: var(--danger);
    color: var(--white);
    font-size: larger;
}

.ingressive {
    display: flex;
    align-items: center;
    border-top: 1px solid rgba(128, 128, 128, .4);
    border-bottom: 1px solid rgba(128, 128, 128, .4);
    justify-content: space-between;
    padding: 3rem 0;
    flex-shrink: 1.5;
    flex-grow: 1.5;
}

.ingressive-text {
    text-transform: uppercase;
    width: 27rem;
    font-size: 1.6rem;
    color: var(--black);

}

.ingress-text2 {
    text-align: right;
    width: 24rem;
    font-size: 1.5rem;
}

.ingress-text2 a {
    color: var(--green);
}

.why-zuri {
    padding-top: 8rem;
    background: url(./Zuri-images/section3wire.svg) no-repeat,
        url(./Zuri-images/Star.jpg) no-repeat;
    background-position: 30% 2%, 95% 8%;
    background-size: 6em, 13rem;
}

.why-zuri p:nth-child(1) {
    color: var(--red);
    font-size: 1.5rem;
}

.why {
    width: 14.5em;
    font-size: 3rem;
    color: var(--dark);
    padding-bottom: 2em;
}

.placards {
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: repeat(auto-fill, minmaX(20rem, 1fr));
    gap: 2rem;
}

.cards {
    padding: 3rem;
    border-radius: 1rem;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #fff;
    color: var(--gray-dark);
    position: relative;
    box-shadow: 0px 11px 20px rgb(231 51 43 / 10%);

}

.cards:hover {
    transform: translateY(-3%);
    transition: transform 200ms ease;
}

.cards h1 {
    font-size: 4em;
}

.cards h2 {
    font-size: 2.2rem;
    width: min-content;
}

.cards p {
    font-size: 1.25rem;
}

.one {
    background-color: var(--red);
    color: white;
    position: relative;


}

.cards img {
    width: 8rem;
    position: absolute;
    top: 0;
    right: 0;
}

.ingressive-logo img {
    width: calc(100% - 40%);
}




.inner {
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 10em;
    padding: 0rem 2rem 7rem;
    background: url(./Zuri-images/section5wire.svg) no-repeat, url(./Zuri-images/dotsection5.svg) no-repeat;
    background-position: 45% 0%, 0% 98%;
    background-size: 5em, 7em;
    background-color: var(--red);
    margin-bottom: 10em;
    overflow: unset;

    /* margin: 0 auto; */

}

.section5-image {
    width: 40rem;

}

.section5-image img {
    max-width: 100%;
}

.section5-container {

    padding: 3rem 0 0;

    width: inherit;

}

.text-five p {
    font-size: larger;
}

.text-five p:last-of-type {
    width: 28rem;
}

.text-five h1 {
    font-size: 3.5em;
    width: 40rem;
    padding: 2rem 0;

}

.another-section {
    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
    justify-content: start;
    width: fit-content; */
    display: flex;

    flex-direction: column;
    gap: .5rem;

}

[first-flex],
[second-flex] {

    display: flex;
    gap: .4rem;
}

.all {
    display: flex;
    align-items: center;
    padding: .5rem;
    gap: 1rem;
    width: 16rem;
    border: 2px solid var(--white);
    border-radius: 3rem;
}

#sec-five {
    background-color: var(--white);
    color: var(--red);
    box-shadow: 0 3px 9px 0px rgb(0 0 0 / 10%);
    margin: 3rem 0;

}

.section-six {
    background: url(./Zuri-images/section6.svg) no-repeat;
    background-position: 56% 15%;
    background-size: 10em;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding-bottom: 6em;

}

.section-six p:nth-child(1) {
    color: var(--red);
    font-size: 1.4em;
    font-weight: 500;
}

.section-six h2 {
    font-size: 2.8em;
    width: 15em;
    line-height: 3.8rem;
    padding: 0 0 6rem;
    color: var(--gray-dark);
}

.stack-cards {
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: repeat(auto-fill, minmaX(20rem, 1fr));
    gap: 2rem;
}

.stack {

    padding: 3rem;
    border-radius: 3rem;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #fff;
    color: var(--gray-dark);
    position: relative;
    box-shadow: 0px 11px 20px rgb(231 51 43 / 10%);
    margin-bottom: 2rem;
}

.stack h3 {
    font-size: calc(100% + 50%);
}

.stack p {
    color: var(--gray-dark);
    line-height: 26px;
}

.stack-logos img {

    width: calc(100% - 72%);
}

.stack-logos {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    width: fit-content;
}

input.value-enroll-two {
    padding: 1rem 2rem;
    border-radius: 2rem;
    border: none;
    background-color: var(--danger);
    color: var(--white);
    font-size: larger;
    margin: 0 auto;
    display: flex;

}

.faq-section {
    text-align: center;
    padding: 10em 0 5em;
    background: url(./Zuri-images/section7wire.svg) no-repeat;
    background-size: 10em;
    background-position: 10% 5%;
    border-bottom: 1px solid rgba(128, 128, 128, .4);
}

.faq-section div[divFaq] {
    padding-bottom: 8em;
}

.faq-section div[divFaq] h2 {
    font-size: 3em;
    color: var(--dark);
}

.faq-section p[faq] {
    color: var(--red);
    font-size: 1.7rem;

}

.questions {
    text-align: left;
}

.que {
    border: 1px solid rgba(128, 128, 128, .4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin: 0 auto;
    color: var(--gray-dark);

}

.que h3 {
    padding: 2.5rem;
    font-size: 20px;
}

.que p {
    padding: 1rem 0;
    font-weight: 500;
    display: none;
}

.show {
    display: block;
    transform: translateY(10%);
    transition: display 3s ease-in-out forwards;
}

.spin {
    transform: rotateZ(360deg);

    transition: all 1s ease-in;
    transform-style: flat;
    transform-origin: left;
}

.plus {
    padding-right: 1rem;
    font-size: calc(100% + 80%);
    font-weight: 600;
    cursor: pointer;
}

.more-que {
    padding-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 01rem;
}

.tweet {
    background-color: var(--red);
    display: flex;
    align-items: center;
    border-radius: 3rem;
    padding: .5rem;
    color: white;
    cursor: pointer;
}

div svg {
    width: 2.5rem;
}

.structure {
    padding-top: 8em;
    background: url(./Zuri-images/section7wire.svg) no-repeat, url(./Zuri-images/Star1.svg) no-repeat, url(./Zuri-images/move.svg) no-repeat;
    background-size: 9em, 10em, auto;
    background-position: 15% 6%, 97% 9%, -2% 50%;


}

.program-text {
    text-align: center;
}

.program-text p:first-of-type {
    color: var(--red);
    pad: 2rem;
    font-size: 1.5rem;
    font-weight: 500;
}

.program-text h1 {
    font-size: 3rem;
    padding: 1rem;
}

.program-text {
    font-size: larger;
    padding: 1rem;
}

.time-frame {
    display: flex;
    justify-content: center;
    padding-top: 3em;
    flex-shrink: 1;
    gap: 1rem;
    margin: 0 auto;
    width: 100%;
}

.fulltime {
    width: min-content;
    background-image: url(./Zuri-images/hour.png);
    background-repeat: no-repeat;
    background-size: 8rem;
    background-position: 92% 95%;
    background-color: var(--black);
    color: white;
    padding: 4rem 2.5rem;
    border-radius: 5rem;
    box-shadow: 0px 8px 20px rgba(241, 27, 15, 0.2);

}


.part-time {
    min-width: min-content;
    background-image: url(./Zuri-images/time.png);
    background-repeat: no-repeat;
    background-size: 12rem;
    background-position: 92% 95%;
    background-color: var(--black);
    color: white;
    padding: 4rem 2.5rem;
    border-radius: 5rem;
    box-shadow: 0px 8px 20px rgba(241, 27, 15, 0.2);

}

.fulltime p,
.part-time p {
    font-weight: 700;
    padding: .5em 0;
    font-size: 1.3rem;

}

.main-ul {
    padding: .2rem 2rem;


}

.main-ul li {
    line-height: 30px;
    font-weight: 400;

}


.fulltime p:nth-child(2),
.part-time p:nth-child(2) {
    color: unset;
    font-size: unset;
    font-weight: unset;
    width: 25rem;
    padding: 1.5rem 0;
}

.fulltime h1,
.part-time h1 {
    font-size: 2.4rem;
    padding: 1rem 0;
}

.last-ul {
    list-style: none;
}

.last-ul li {
    line-height: 30px;
}

.clocks,
.clocks1 {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
}

.clocks img {
    width: 8rem;
}

.clocks1 img {
    width: 12rem;
}

.final-section {
    margin-top: 5em;
    color: white;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    background: url(./Zuri-images/round.svg) no-repeat, url(./Zuri-images/bend1.svg) no-repeat,
        url(./Zuri-images/dotsection5.svg) no-repeat, url(./Zuri-images/curve2.svg) no-repeat;
    background-position: 15% 20%, 103% 0%, 100% 100%, -3% 110%;
    background-size: 10rem, auto, auto, auto;
    background-color: var(--red);

}

.final-container {
    text-align: center;


}

.final-container p {
    font-size: larger;
}

.final-container h1 {
    font-size: 3.5rem;
    padding: 1rem;

}



.socials {
    display: flex;
    justify-content: space-between;
    padding: 4rem 0 2rem;

}

.socials .social-links {
    display: flex;
    gap: .5rem;
    margin-right: 1.5rem;
}

.copyright {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
    font: 1.3rem;
    letter-spacing: 1.5px;
    color: var(--gray-dark);

}

.copyright ul {
    display: flex;
    list-style: none;
    gap: 2rem;
}


@media screen and (max-width: 1200px) {


    header {

        max-width: 100%;

    }

    main {
        flex-direction: column;
        height: auto;
        align-content: center;
        background-position: 0% 100%, 75% 100%;
        margin-top: 4rem;
        /* padding: 4rem; */

    }

    .male-image {
        display: none;
    }

    .lady-image {
        width: 70%;
    }

    .value-enroll {
        margin-top: 2rem;
        margin-bottom: 6rem;
    }

    .inner {
        flex-direction: column;
        align-items: center;
    }

    .section5-image {
        width: 80%;
    }


    .text-five h1 {
        font-size: 2rem;
        width: 100%;
        padding-top: 0;
    }


    /* .another-section {
        grid-template-columns: repeat(4, 1fr);
        gap: 1.5rem;
    } */

    .all {
        max-width: 13rem;
        padding: .3rem;
    }

    .text-five p:last-of-type {
        width: 90%;
        font-size: 1rem;
    }

    .placards {
        grid-template-columns: repeat(2, 1fr);
        flex-flow: row wrap;
    }

    .stack-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .ingressive-text h2 {
        max-width: 22rem;
        font-size: 1.2rem;

    }

    .ingress-text2 {
        max-width: 20rem;
        font-size: 1.2rem;
    }

    .why {
        width: 15em;
        font-size: 2rem;
        padding-bottom: 4em;
    }
}

@media screen and (max-width: 1000px) {
    .time-frame {
        flex-wrap: wrap;
    }

}

@media screen and (max-width:900px) {

    nav ul {
        display: none;
    }

    .ingressive {
        flex-direction: column;
        align-content: center;
        align-self: center;
        justify-content: center;
        gap: 2rem;

    }

    .ingressive-text,
    .ingress-text2 {
        width: fit-content;
        text-align: center;
        margin: 0 auto;
    }

    .ingressive-logo {

        display: flex;
        justify-content: center;

    }


}

@media screen and (max-width: 756px) {

    .why-zuri {
        background: none;
    }

    .placards,
    .stack-cards {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 650px) {

    .socials {
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }

    .socials :nth-child() {
        border: 3px solid red;
    }
}